.profile-dropdown {
  position: absolute;
  right: 40px;
  animation: fadeIn 0.3s; 
  padding: 5px;
  top: 84px;
  border-radius: 12.5px;
  width: 132px;
  min-height: 150px;
  background-color: #ff5b5b;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}


.profile-dropdown li {
  list-style: none;
}

.profile-dropdown-button {
  width: 135px;
  height: 25px;
  color: white;
  background-color: gray;
  border: none;
  cursor: pointer;
  border-radius: 12.5px;
}
.profile-dropdown-buttons li {
  text-align: center;
  width: 135px;
  height: 30px;
  color: white;
  background-color: gray;
  border: none;
  cursor: pointer;
  border-radius: 12.5px;
  margin: 0px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.profile-dropdown-buttons li:hover {
  box-shadow: 0 0 10px gray;
    transition: 0.3s;
}
.profile-dropdown-buttons p {
  margin-bottom: 5px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  height: 120px;
  width: 100%;
  border-bottom: 3px solid rgb(211, 211, 211);
  background-color: rgb(28, 24, 24);
  margin-top: 0px;
}
.navbar-logo {
  width: 200px;
  margin-left: 25px;
}
.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.navbar-right * {
  text-decoration: none;
}
.new-spot-button {
  border: none;
  background-color: rgb(235, 235, 235);
  color: rgb(102, 158, 177);
  font-size: 15px;
  padding-right: 15px;
}

.menu-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #ff5b5b;
  font-size: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.menu-button:hover {
  box-shadow: 0 0 8px #ff5b5b;
  transition:0.3s;
}
.profile-button {
  height: 50px;
}


.navbar-icon {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

.dropdown-button {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  width: 210px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 25px;
  color: white;
  background-color: #ff5b5b;
  font-size: 40px;
  min-width: 80px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
}
.nav-cart-container:hover {
  box-shadow: 0 0 8px #ff5b5b;
  transition:0.3s;
}
.nav-cart-container * {
  font-size: 25px;
}